<h1>Simple Support Inboxes for Indies, Hobbyists, and Sysadmins</h1>

<p>You've launched a product! People are using it!<p>

<p>But how do you handle support requests? Give out a personal
   email? Set up a Google group? Pay $$$ every month for
   commercial services? Even worse, <em>roll your own</em>?</p>

<p>
  All of these take time, effort, and operational overhead.
  You want to focus on your amazing product, not building
  out operational tooling.
</p>

<p>But there is an alternative! <em>WeGotYourBackToday</em>.</p>

<p><em>WeGotYourBackToday</em> is a self-or-professionally
   hostable support inbox for indie developers, hobbyists,
   and systems administrators.</p>

<h2>How It Works</h2>

<ol>
  <li>Create an inbox.</li>
  <li>Copy paste the inbox's HTML into your site.</li>
  <li>Start receiving messages from your customers and visitors!</li>
</ol>

<h2>Pricing</h2>
<h3>Hobbyist Edition</h3>
<p>For $9.99 per year, you get:</p>
<ul>
  <li>One secure, professionally hosted <em>WeGotYourBackToday</em>
      inbox.</li>
  <li>The right to self-host and/or integrate the source
      code behind <em>WeGotYourBackToday</em> for unlimited personal
      or hobby use.</li>
  <li>Community member voting rights during <em>WeGotYourBackToday</em> elections.</li>
</ul>

<script async data-uid="70e20095c6" src="https://f.convertkit.com/70e20095c6/ec096a57b0.js"></script>

<h3>Indie Edition</h3>
<p>For $99.99 per year, you get:</p>
<ul>
  <li>Four secure, professionally hosted <em>WeGotYourBackToday</em>
      inboxes.</li>
  <li>The right to self-host and/or integrate the source
      code behind <em>WeGotYourBackToday</em> for unlimited,
      use on your own projects.</li>
  <li>Community member voting rights during
      <em>WeGotYourBackToday</em> elections.</li>
</ul>

<script async data-uid="b1d281e1b0" src="https://f.convertkit.com/b1d281e1b0/8ab93ed6cb.js"></script>


<h3>Franchise Edition</h3>
<p>Franchise Edition is for people who want to own and operate
   their  own <em>WeGotYourBackToday</em> deployment for
   other people's projects.
<p>For $499.99 per year, Franchisees get:</p>
<ul>
  <li>The right to self-host and/or integrate the source
      code behind <em>WeGotYourBackToday</em> for unlimited,
      commercial use.</li>
  <li>Franchisee voting rights during <em>WeGotYourBackToday</em> elections.</li>
</ul>

<script async data-uid="01aa102baa" src="https://f.convertkit.com/01aa102baa/d7068431dd.js"></script>

<h2>Frequently Asked Questions</h2>
<h3>Why a Hosted App/Service Library Model?</h3>
<p>We've all seen products built for a group of
   people. Then the investors need the product to
   make more money. So the developers shift to a
   different market. Or they leverage their position
   to raise prices. Or they simply shut down.</p>

<p>And the customers get left behind.</p>

<p>We provide WeGotYourBackToday's source code to all
   customers, so you can choose at any time to maintain
   your own deployment.


<h3>Why not keep the software proprietary?</h3>
<p>Proprietary software has it's place. But it's also
   fraught with peril. Once the money runs out, the app
   product disappears or stops being maintained. Even if it has
   hundreds or thousands of people depending on it.</p>

<h3>Then why not open source it?</h3>
<p>Open source software <em>also</em> has it's place! However
   the dynamics around open source make it difficult to sustain
   for maintainers who aren't paid to work on the projects by
   their employer.</p>

<p>As a result, contributions to open-source software skews towards
   coming from well-capitalized enterprises.
   Well-capitalized enterprises with different strengths
   and needs than us independent or small business
   folks.</p>

<p>So the resulting software tends to be optimized for
   organizations that can field a full-time team of
   designers, programmers, account managers, marketers,
   operations and financiers.</p>

<p>Most non-enterprise-funded open-source is maintained as a
   labor of love. Some is funded via emerging models like
   <a href="https://www.tidelift.com">TideLift</a>,
   <a href="https://www.rubytogether.com">Ruby Together</a>
   and <a href="https://www.opencollective.com">Open Collective</a>.</p>

<p>We're instead focusing on <em>Community Source Software</em>.</p>
<h3>Wait, what is Community Source Software?</h3>
<p><em>Community Source Software</em> is software owned by
   a community of contributors and customers.</p>

<p>We believe paid, community-owned software is a sustainable
   alternative that can co-exist with proprietary and open
   source software.</p>

<p>Think of this less like 'diluting the values of open source'
   and more like applying pressure for proprietary software
   providers to be more open.</p>