<section class="flex flex-column flex-row-l mb3 center mw8 w-100 center">
  <aside class="flex-auto flex-grow self-center self-end-l mw6-l pr4-l tc tr-l">
    <h1 class="f1 near-black f-headline-l mb0 lh-title">Simple Support Inboxes</h1>
    <h3 class="mark bg-yellow-l pr2-l f2 lh-copy mb0-l">for Indies, Hobbyists, and Sysadmins</h3>
  </aside>
  <aside class="measure-wide mt2-l self-center self-end-l f4 bg-light-yellow pa3">
    <p class="measure lh-copy">You've launched a product! People are using it!</p>
    <p class="measure lh-copy">
      But how do you handle support requests? Give out a personal
      email? Set up a Google group? Pay $$$ every month for
      commercial services? Even worse, <em>roll your own</em>?</p>

    <p class="measure lh-copy">
      All of these take time, effort, and operational overhead.
      You want to focus on your amazing product, not building
      out operational tooling.
    </p>
    <p class="measure lh-copy">
      But there is an alternative! <em>WeGotYourBackToday</em>.</p>

    <p class="measure lh-copy mb2">
      <em>WeGotYourBackToday</em> is a self-or-professionally
      hostable support inbox for indie developers, hobbyists,
      and systems administrators.</p>
  </aside>
</section>
<section class="flex flex-column flex-row-ns bg-lightest-blue near-black">
  <div class="mw8 w-100 center pa4">
    <h2 class="lh-title ttu f5 black-80">How It Works</h2>
    <ol class="list f3">
      <li class="lh-copy">Create an inbox.</li>
      <li class="lh-copy">Copy paste the inbox's HTML into your site.</li>
      <li class="lh-copy"><strong>Start receiving messages</strong> from your customers and visitors!</li>
    </ol>
    <p class="lh-copy">Questions? <a class="link underline navy" href="#faq">Read the FAQs</a> or <%= link_to "Drop us a line", @inbox, class: "link underline navy" %>.</p>
  </div>
</section>
<section class="flex flex-column flex-row-ns white-80 bg-near-black">
  <div class="mw8 w-100 center pa4">
    <h2 class="lh-title ttu f5 white-80">Pricing</h2>
    <h3 class="f3 lh-title">Hobbyist Edition</h3>
    <p>For $9.99 per year, you get:</p>
    <ul>
      <li class="lh-copy">One secure, professionally hosted <em>WeGotYourBackToday</em>
        inbox.</li>
      <li class="lh-copy">The right to self-host and/or integrate the source
        code behind <em>WeGotYourBackToday</em> for unlimited
        non-commercial use.</li>
      <li class="lh-copy">Community member voting rights during <em>WeGotYourBackToday</em> elections.</li>
    </ul>

    <script async data-uid="70e20095c6" src="https://f.convertkit.com/70e20095c6/ec096a57b0.js"></script>

    <h3 class="f3 lh-title">Indie Edition</h3>
    <p>For $99.99 per year, you get:</p>
    <ul>
      <li class="lh-copy">Four secure, professionally hosted <em>WeGotYourBackToday</em>
        inboxes.</li>
      <li class="lh-copy">The right to self-host and/or integrate the source
        code behind <em>WeGotYourBackToday</em> for commercial
        use within your own projects.</li>
      <li class="lh-copy">Community member voting rights during
        <em>WeGotYourBackToday</em> elections.</li>
    </ul>

    <script async data-uid="b1d281e1b0" src="https://f.convertkit.com/b1d281e1b0/8ab93ed6cb.js"></script>


    <h3 class="f3 lh-title">Franchise Edition</h3>
    <p>Franchise Edition is for people who want to own and operate
      their  own <em>WeGotYourBackToday</em> deployment for
      other people's projects.
      <p>For $499.99 per year, Franchisees get:</p>
      <ul>
        <li class="lh-copy">The right to self-host and/or integrate the source
          code behind <em>WeGotYourBackToday</em> for unlimited,
          commercial use.</li>
        <li class="lh-copy">Franchisee voting rights during <em>WeGotYourBackToday</em> elections.</li>
      </ul>


      <script async data-uid="01aa102baa" src="https://f.convertkit.com/01aa102baa/d7068431dd.js"></script>
    <p class="lh-copy">Questions? <a class="link underline blue" href="#faq">Read the FAQs</a> or <%= link_to "Drop us a line", @inbox, class: "link underline blue" %>.</p>
  </div>
</section>
<section class="flex flex-column flex-row-ns bg-near-white near-black">
  <div class="mw8 w-100 center pa4">
    <h2 class="f4 black-60 ttu"><a id="faq">Frequently Asked Questions</a></h2>
    <h3 class="f3 lh-title">Why a Hosted App/Service Library Model?</h3>
    <p class="lh-copy measure">We've all seen products built for a group of
      people. Then the investors need the product to
      make more money. So the developers shift to a
      different market. Or they leverage their position
      to raise prices. Or they simply shut down.</p>

    <p class="lh-copy measure">And the customers get left behind.</p>

    <p class="lh-copy measure">We provide WeGotYourBackToday's source code to all
      customers, so you can choose at any time to maintain
      your own deployment.


      <h3 class="f3 lh-title">Why not keep the software proprietary?</h3>
      <p class="lh-copy measure">Proprietary software has it's place. But it's also
        fraught with peril. Once the money runs out, the app
        product disappears or stops being maintained. Even if it has
        hundreds or thousands of people depending on it.</p>

      <h3 class="f3 lh-title">Then why not open source it?</h3>
      <p class="lh-copy measure">Open source software <em>also</em> has it's place! However
        the dynamics around open source make it difficult to sustain
        for maintainers who aren't paid to work on the projects by
        their employer.</p>

      <p class="lh-copy measure">As a result, contributions to open-source software skews towards
        coming from well-capitalized enterprises.
        Well-capitalized enterprises with different strengths
        and needs than us independent or small business
        folks.</p>

      <p class="lh-copy measure">So the resulting software tends to be optimized for
        organizations that can field a full-time team of
        designers, programmers, account managers, marketers,
        operations and financiers.</p>

      <p class="lh-copy measure">Most non-enterprise-funded open-source is maintained as a
        labor of love. Some is funded via emerging models like
        <a class="link blue underline" href="https://www.tidelift.com">TideLift</a>,
        <a class="link blue underline" href="https://www.rubytogether.com">Ruby Together</a>
        and <a class="link blue underline" href="https://www.opencollective.com">Open Collective</a>.</p>

      <p class="lh-copy measure">We're instead focusing on <em>Community Source Software</em>.</p>
      <h3 class="f3 lh-title">Wait, what is Community Source Software?</h3>
      <p class="lh-copy measure"><em>Community Source Software</em> is software owned by
        a community of contributors and customers.</p>

      <p class="lh-copy measure">We believe paid, community-owned software is a sustainable
        alternative that can co-exist with proprietary and open
        source software.</p>

      <p class="lh-copy measure">Think of this less like 'diluting the values of open source'
        and more like applying pressure for proprietary software
        providers to be more open.</p>

        <!--
      <h3 class="f3 lh-title">Why is this website so ugly?</h3>
      <p class="lh-copy measure">Because I am primarily a programmer, and I built this to
        meet some of my needs; which didn't require anything fancy.</p>
      <p class="lh-copy measure">Also, <strong>PLAIN TEXT IS WEB SCALE.</strong></p>
        -->

      <h3 class="f3 lh-title">Still got questions?</h3>
      <p class="lh-copy measure"><%= link_to "Drop us a line", @inbox, class: "link navy underline" %>.</p>
  </div>
</section>
