<!DOCTYPE html>
<html>
  <head>
    <title>We Got Your Back - Support Tooling for Indies, Hobbyists and Sysadmins</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>

    <footer>
      <p>Maintained with love by <a href="https://www.zincma.de/">Zinc.</a></p>
      <p>Copyright 2019 Zinc Technology Inc, all rights reserved (for now).</p>
    </footer>
  </body>
</html>
